.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

input[type="radio"] {
  display: none;
}

.star-ratings {
  max-width: 250px;
  cursor: pointer;
}

.grayStar {
  background-image: url(./images/star.svg);
  max-width: 50px;
}

.greenStar {
  background-image: url(./images/filled-star.svg);
  max-width: 50px;
}

/*
green: #0D9488
gray: #e4e5e9
*/
