.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

input[type="radio"] {
  display: none;
}

.star {
  cursor: pointer;
  transition: color 200ms;
  max-width: 50px;
}

.star-ratings {
  max-width: 250px;
}

/*
green: #0D9488
gray: #e4e5e9
*/
